<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" href="static/stylechatbot.css">
</head>
<body>
<div class="logout">
    <a href="http://127.0.0.1:5000/logout"><button>Logout</button></a>
</div>
<div class="chatbox">
    <div id="chatlogs" class="chatlogs">

    </div>
    <div class="chat-form">
        <textarea id="userreply"></textarea>
        <button id="myBtn"  onclick="getResponse()">Send</button>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    var input = document.getElementById("userreply");
    input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("myBtn").click();
    }
  });
    function getResponse(){
        let userreply= document.getElementById('userreply').value;
        document.getElementById('userreply').value="";
        document.getElementById('chatlogs').innerHTML+=`<div class="chat self">
            <div class="user-photo"><img src="static/female.jpg"></div>
            <p class="chat-message">${userreply}</p>
            </div>`;
        let clogs = document.getElementById('chatlogs')
        clogs.scrollTop = clogs.scrollHeight

    let xhr = new XMLHttpRequest();
    let url = "http://127.0.0.1:5000/processreply";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
        console.log(xhr.status)
        if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById('chatlogs').innerHTML+= `<div class="chat friend">
            <div class="user-photo"><img src="static/botface.jpg"></div>
            <p class="chat-message">${xhr.responseText}</p>
            </div>`;
            let clogs = document.getElementById('chatlogs')
            clogs.scrollTop = clogs.scrollHeight
        }
    };

    var data = JSON.stringify({ "msg": userreply});
    xhr.send(data);
    }
</script>
